body {
    background-color: blanchedalmond;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: blueviolet;
    margin: 0;
    grid-column: span 4;
}

#nav-title {
    margin-right: auto;
}

header li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    grid-column: span 4;
}

footer li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.card {
    border: 1px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    background-color: aliceblue;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: aquamarine;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 35px;
    padding-bottom: 35px;
    grid-column: 1/-1;
    grid-auto-rows: minmax(min-content, max-content);
}

img {
    margin: auto;
    display: block;
}

#contact {
    border-color:black;
    border-style: solid;
    height: 3rem;
    padding: 6px;
    margin-left: 10px;
    align-content: center;
}

#contact:hover {
    color: hotpink;
    background-color: lightgreen;}

a {
    text-decoration: none;
}